<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.budgetappdev.berkeleytest"
        version   = "0.1.0">
    <name>Berkeley Test</name>

    <description>
        Berkeley Test
    </description>

    <preference name="fullscreen" value="true" />
		<preference name="stay-in-webview" value="true" />


<access origin="*"/>

<gap:plugin name="com.arnia.plugins.smsbuilder" />
<gap:plugin name="com.phonegap.plugins.emailcomposer" />
</widget>